#widgets-container {
    margin-top: 20px;
}

.widget {
    background-color: #F9F9F9;
    border: 1px solid #EEE;
    float: left;
    font-size: 10px;
    margin: 0px 10px 10px 0px;
    padding: 5px;
    width: 240px;
}

.widget.size2 {
    width: 502px;
}

.widget.size3 {
    width: 764px;
}

.widget h2 {
    font-size: 13px;
    margin: 0px;
}

.widget ul {
    list-style-type: disc;
    margin-left: 15px;
}

.widget .rss {
    background-image: url('/img/rss.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.member-facts {
    list-style-type: none;
}