.package-row {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}

body.blue .package-row a {
    color: #666;
}

.package-row h3, .package-row p {
    margin: 0px;
}

input[type="text"].wide-input {
    width: 782px;
}

#resolver-submit {
    display: none;
}

.package-version-row {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

body.blue .package-version-row a {
    color: #262624;
}

.package-version-row h3,
.package-version-row p {
    margin: 0px;
}

.package-version-buttons {
    right: 5px;
    top: 5px;
    position: absolute;
}

body.blue .package-version-buttons a,
body.blue .package-version-buttons span {
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    color: #AAA;
    padding: 3px;
    font-size: 10px;
}

pre {
    display: inline;
}

#resolver-menu {
    position: absolute;
    right: 0px;
    top: 0px;
}

#resolver-menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#resolver-menu li {
    display: inline-block;
}

#resolver-menu a {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #AAA;
    display: block;
    padding: 3px 5px;
}

body.blue a.delete,
#resolver-menu a.delete {
    background-color: #DF3B3B;
    border-color: #DF3B3B;
    color: #FFF;
}

body.blue a.delete:hover,
#resolver-menu a.delete:hover {
    background-color: #E25050;
}
